@charset "UTF-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    /* font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif; */
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

.anchor {
    display: block;
    padding-top: 60px;
    margin-top: -60px;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

html {
    scroll-behavior: smooth;
}

html:focus-within {
    scroll-behavior: smooth;
}

.br_sp {
    display: none;
}

/* loadingアニメーション */
/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #e1f0ff;
    text-align: center;
    color: #8c8c8c;
}

/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
    width: 260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* header */
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    position: relative;
    z-index: 200;
}

.logo img {
    width: 208px;
    position: fixed;
    top: 20px;
    left: 80px;
    z-index: 100;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 1100;
    opacity: 0;
}

.open nav {
    left: 0;
    opacity: 1;
}

nav .inner {
    padding: 25px;
}

nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
}

nav .inner ul li a {
    display: block;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}

nav .inner ul li a:hover {
    background: #e4e4e4;
}

/* .toggle_btn */
.toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 1100;
}

.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
}

.btn_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 35px;
    font-size: 11px;
}

.toggle_btn span:nth-child(1) {
    top: 4px;
}

.toggle_btn span:nth-child(2) {
    top: 14px;
}

.toggle_btn span:nth-child(3) {
    bottom: 4px;
}

.open .toggle_btn span {
    background-color: #fff;
}

.open .btn_menu {
    color: #fff;
}

.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

/* #mask */
#mask {
    display: none;
    transition: all .5s;
}

.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 300;
    cursor: pointer;
}

/* TopMain */
.topmain {
    margin-bottom: 240px;
}

.top_wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
}

.top_wrap img {
    margin: 0 auto;
    width: 100%;
}

.top_slider img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

/* スクロール */
.scroll {
    position: relative;
    top: 100px;
    z-index: 20;
}

/*スクロールダウン全体の場所*/
.scrolldown {
    /*描画位置*/
    position: absolute;
    left: 50%;
    margin-bottom: 40px;
}

/*Scrollテキストの描写*/
.scrolldown span {
    /*描画位置*/
    position: absolute;
    left: 10px;
    bottom: 5px;
    /*テキストの形状*/
    color: #333;
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: -4px;
    /*丸の形状*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
    animation:
        circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
    0% {
        bottom: 45px;
    }

    100% {
        bottom: -5px;
    }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

/* 線の描写 */
.scrolldown:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線の形状*/
    width: 2px;
    height: 50px;
    background: #333;
}

/* concept */
.title img {
    display: flex;
    width: 168px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.concept_text {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 2.5;
    margin-bottom: 160px;
}

/* service */
.service_wrap {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}

.service_wrap>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.service_items {
    width: 25%;
}

.service_items img {
    border-radius: 50%;
    margin-bottom: 40px;
}

.service_items h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 16px;
}

.service_items h4 {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    margin: 8px 0 16px;
}

.service_items p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}


/* works */
.works {
    height: 560px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: 150px;
    background: linear-gradient(90deg, rgba(235, 255, 230, 1), rgba(210, 230, 255, 1));
}

.slider1 {
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.slider1 img {
    width: 90%;
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    width: 20px;
    color: transparent;
    z-index: 1;
    transition: opacity 0.5s;
    z-index: 1;
}

.slick-arrow:hover {
    opacity: 0.7;
}

/* 共通設定 */
.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.slick-next::after,
.slick-prev::after {
    width: 26px;
    height: 26px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
}

.slick-next {
    right: -30px;
}

.slick-next::after {
    right: 4px;
    transform: rotate(45deg);
}

/* prev */
.slick-prev {
    left: -30px;
}

.slick-prev::after {
    left: 4px;
    transform: rotate(-135deg);
}

.more_btn a,
.back_btn a {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 16px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #000;
    border: #000 solid 1px;
    margin: 0 auto;
    transition: all 0.3s;
}

.more_btn a:hover,
.back_btn a:hover {
    transform: translate3d(0, 3px, 0);
    color: #000;
    background: #fff;
}

/* about */
.about {
    padding: 0 10px;
    text-align: center;
}

.name {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-bottom: 16px;
}

.self-intro {
    width: 41%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 80px;
}

/* contact */
.contact {
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    padding: 40px 0;
    background: #e6f0e6;
    margin-bottom: 80px;
    position: relative;
}

.contact_wrap {
    max-width: 1000px;
    text-align: center;
    line-height: 1.5;
}

.contact_text {
    margin: 16px 0 24px;
    font-size: 14px;
}

.contact_btn a {
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: 24px 0;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    transition: all 0.3s;
}

.contact_btn a:hover {
    transform: translate3d(0, 3px, 0);
    color: #fff;
    background: #8c8c8c;
}

.flower img {
    position: absolute;
    width: 8%;
    right: 70px;
    bottom: -40px;
    margin: 0 auto;
}

/* 下層ページ contact 詳細 */
.contact_page {
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    padding: 40px 0;
    border: 5px solid #e6f0e6;
    margin-top: 120px;
    margin-bottom: 80px;
    position: relative;
    box-sizing: border-box;
}

.swag img {
    position: absolute;
    width: 40%;
    left: 20px;
    top: -120px;
    margin: 0 auto;
}

.attention {
    max-width: 500px;
    border: 1px solid #000;
    text-align: center;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.attention p {
    font-size: 14px;
    line-height: 1.5;
}

/* お問合せフォーム部分 */
.form_wrap {
    max-width: 800px;
    margin: auto;
}

.form_wrap table {
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
    line-height: 1.5;
}

.form_wrap table th {
    width: 30%;
    border: 1px solid #E8E8E8;
    padding: 3%;
    background-color: #F7F7F7;
    vertical-align: middle;
    box-sizing: border-box;
}

.form_wrap table td {
    width: 70%;
    border: 1px solid #E8E8E8;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 3%;
    box-sizing: border-box;
}

.form_wrap input {
    padding: 10px;
    box-sizing: border-box;
}

.form_wrap input[type='text'],
input[type='email'] {
    width: 80%;
    border: solid 2px #ccc;
}

.form_wrap textarea {
    border: solid 1px #ccc;
    width: 80%;
    box-sizing: border-box;
}

.form_wrap select {
    width: 80%;
    border: solid 1px #ccc;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.form_wrap input[type="submit"] {
    -webkit-appearance: none;
    border: none;
}

.button {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
    width: 200px;
    margin: 40px auto 0;
    display: block;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    opacity: 1;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

/* footer */
.footer {
    background: #e1f0ff;
    padding: 0 10px;
}

.footer_wrap {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.logo_footer {
    width: 400px;
    margin: 0 60px;
}

hr.style_1 {
    border-top: 1px solid #000;
    width: 30%;
}

.sns_comment {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    align-items: center;
    margin-right: 5px;
}

hr.style_2 {
    border-top: 1px solid #000;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.footer p small {
    display: block;
    color: #000000;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 60px;
}

/* 下層ページ　Works-list */
.works-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 160px;
}

.works_wrap {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 auto;
}

.works_wrap div {
    width: 45%;
    margin-bottom: 60px;
}

.comment p {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 40px;
}

/* 下層ページ　Works-detail */
.works-detail {
    max-width: 1000px;
    text-align: center;
}

.img_works img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.text {
    font-size: 16px;
    margin-bottom: 80px;
}

.text dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.text dt {
    font-weight: bold;
    width: 20%;
    padding: 16px 8px;
    border-bottom: 1px solid #8c8c8c;
    box-sizing: border-box;
}

.text dd {
    width: 80%;
    margin: 0;
    padding: 16px 8px;
    border-bottom: 1px solid #8c8c8c;
    box-sizing: border-box;
    text-align: left;
}

.capture_wrap {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    justify-content: space-between;
}

.caption {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16px;
}

.capture_pc {
    width: 70%;
}

.capture_sp {
    width: 20%;
}

@media screen and (max-width: 767px) {
    .br_sp {
        display: block;
    }

    /* header */
    .header_wrap {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .logo img {
        width: 104px;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 300;
    }

    /* .toggle_btn */
    .toggle_btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 400;
    }

    /* TopMain */
    .topmain {
        margin-bottom: 100px;
    }

    .topmain img {
        margin-top: 20px;
    }

    .top_slider img {
        display: block;
        width: 70%;
        margin-top: 60px;
    }

    /* スクロール */
    .scroll {
        top: 60px;
    }

    /* concept */
    .title img {
        display: block;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }

    .concept_text {
        font-size: 14px;
        line-height: 2.2;
        margin-bottom: 80px;
    }

    /* works */
    .works {
        height: 400px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        margin-bottom: 150px;
        background: linear-gradient(90deg, rgba(235, 255, 230, 1), rgba(210, 230, 255, 1));
    }


    /* service */
    .service_wrap>div {
        display: block;
    }

    .service_items {
        width: 75%;
        margin: 0 auto;
    }

    .service_items img {
        width: 60%;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .service_items p {
        margin-bottom: 40px;
    }

    /* works */
    .works {
        height: 460px;
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        margin-bottom: 60px;
    }

    .slider1 {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    /* about */
    .name {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .self-intro {
        width: 80%;
    }

    /* contact */
    .contact_page {
        width: 90%;
        margin-top: 80px;
    }

    .contact_text {
        line-height: 1.6;
    }

    .contact_btn a,
    .back_btn a {
        display: block;
        width: 250px;
        padding: 20px 0;
        font-size: 16px;
    }

    .swag img,
    .flower img {
        display: none;
    }

    .attention {
        width: 80%;
        border: 1px solid #000;
        text-align: center;
        padding: 16px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .attention p {
        font-size: 12px;
        line-height: 1.5;
    }


    /* お問合せフォーム部分 */
    .form_wrap {
        width: 90%;
    }

    .form_wrap table {
        font-size: 12px;
        margin-top: 25px;
    }

    .form_wrap table th {
        width: 100%;
        display: block;
    }

    .form_wrap table td {
        width: 100%;
        display: block;
    }

    .form_wrap input {
        padding: 10px;
    }

    .form_wrap input[type='text'],
    input[type='email'],
    input[type='kana'] {
        width: 100%;
    }

    .form_wrap textarea {
        border: solid 1px #ccc;
        width: 100%;
    }

    .form_wrap select {
        width: 100%;
    }

    .button {
        margin: 25px auto 0;
        font-size: 14px;
    }

    /* footer */
    .footer_wrap {
        padding: 60px 10px 0;
    }

    .logo_footer {
        width: 75%;
        margin: 0 8px;
    }

    hr.style_1,
    .sns_comment {
        display: none;
    }

    .footer p small {
        padding: 10px 0 40px;
    }

    /* 下層ページ　Works-list */
    .works-list {
        margin-bottom: 80px;
    }

    .works_wrap {
        width: 90%;
    }

    .works_wrap div {
        width: 100%;
        margin-bottom: 30px;
    }

    .img_works img {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .text {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .text dl {
        margin-bottom: 20px;
    }

    .text dt {
        width: 30%;
    }

    .text dd {
        width: 70%;
    }

    .capture_wrap {
        display: block;
        width: 100%;
    }

    .capture_pc,
    .capture_sp {
        width: 100%;
        margin-bottom: 40px;

    }

    /* 下層ページ　Works-detail */
    .works-detail {
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }

    .img_works img {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .text {
        font-size: 16px;
        margin-bottom: 80px;
    }

    .text dl {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .text dt {
        font-weight: bold;
        width: 30%;
    }

    .text dd {
        width: 70%;
    }

    .capture_wrap {
        display: block;
        width: 100%;
    }

    .capture_pc {
        width: 100%;
    }

    .capture_sp {
        width: 100%;
    }

}